body {
  display: flex;
  margin: 10px;
  height: 100%;
  width: 100%; /*ff compat?*/
  background-color: lightblue;
}

canvas {
    border: thick solid black;
    background-color: purple;
}

canvas:hover {
  border: thick solid gray;
}

canvas:focus {
  border: thick solid blue;
}

canvas:active {
  border: thick solid green;
}

/*
border styles
none
hidden
dotted
dashed
solid
double
groove
ridge
inset
outset
*/
